@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --primary: #ffffff;
  --primary-hover: #e5e5e5;
  --primary-foreground: #171717;
  --secondary: #262626;
  --secondary-hover: #404040;
  --secondary-foreground: #ffffff;
  --accent: #404040;
  --accent-hover: #525252;
  --accent-foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
